/*
 Theme Name:   Tk Xavier Matos
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  TK Child Theme
 Author:       Xavier Matos
 Author URI:   http://example.com
 Template:     _tk-master
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/
.container-fluid {
background-color: black;
}
.jumbotron{
	background-color: transparent;
	color: #3091B2;
	font-family: 'Exo 2', sans-serif;
}
.content {
	background-color: red;
	color: white;
}

.navbar.navbar-default {
	background-color: transparent;
	border: 0px;
	color: #3091B2;
	font-family: 'Exo 2', sans-serif;
}

.collapse {
	border-color: transparent;

}

.navbar-default .navbar-brand {
	color: #3091B2;
	font-family: 'Exo 2', sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: #3091B2;
    font-family: 'Exo 2', sans-serif;
}
nav>li>a:hover {
	color: #427C89;
}

body {
	background-color: #FFFCF5;
}
.site-navigation-inner{
	background-image: url("https://media.giphy.com/media/ygAaR0n5RsyAM/giphy.gif");
 background-color: #cccccc;
 moz-background-size:100% 100%;
-webkit-background-size:100% 100%;
background-size:100% 100%;
background-repeat: no-repeat;
color: #3091B2;
}
.main-content {
	color : #3091B2;
	font-family: 'Exo 2', sans-serif;
}
a {
	color: #3091B2;
	font-family: 'Raleway', sans-serif;
}
a:hover {
color: #427C89;
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
}
 p {
 	font-family: 'Raleway', sans-serif;
 }
 h2,h3,h4,h5,h6
 {

 	font-family: 'Raleway', sans-serif;
 }
 .page-title {

 	font-family: 'Raleway', sans-serif;
 }
 .navbar-default .navbar-brand:hover {
    color: #427C89;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #427C89; 

    }
    .btn-primary {
    color: #3091B2;
    background-color: transparent;
    border-color: #3091B2;
}

.btn-primary:hover {
background-color: #3091B2;
    color: #FFFFFF;
    border-color: #3091B2;
}
.pager li>a, .pager li>span {
    display: inline-block;
    padding: 5px 14px;
    background-color: transparent;
    border: 1px solid #3091B2;
    border-radius: 15px;
    color: #3091B2;;
}
 .pager li>a:hover {
    text-decoration: none;
    background-color: #3091B2;
    color: #FFFFFF;
    border-color: #3091B2;
    }
    .site-footer {
    	color : #3091B2;
	font-family: 'Exo 2', sans-serif;
    }