/*
 Theme Name:   Tk Xavier Matos 2
 Theme URI:    http://example.com/twenty-fifteen-child/
 Description:  TK Child Theme2
 Author:       Xavier Matos
 Author URI:   http://example.com
 Template:     _tk-master
 Version:      1.0.0
 License:      GNU General Public License v2 or later
 License URI:  http://www.gnu.org/licenses/gpl-2.0.html
 Tags:         light, dark, two-columns, right-sidebar, responsive-layout, accessibility-ready
 Text Domain:  twenty-fifteen-child
*/
.container-fluid {
background-color: black;
}
.jumbotron{
	background-color: transparent;
	color: #3091B2;
	font-family: 'Exo 2', sans-serif;
}
.content {
	background-color: red;
	color: white;
}

.navbar.navbar-default {
	background-color: transparent;
	border: 0px;
	color: #3091B2;
	font-family: 'Exo 2', sans-serif;
}

.collapse {
	border-color: transparent;

}

.navbar-default .navbar-brand {
	color: #3091B2;
	font-family: 'Exo 2', sans-serif;
}

.navbar-default .navbar-nav>li>a {
    color: #3091B2;
    font-family: 'Exo 2', sans-serif;
}
nav>li>a:hover {
	color: #427C89;
    text-decoration: none;
}

body {
	background-color: #FFFCF5;
}
.site-navigation-inner{
 background-color: #333;
 moz-background-size:100% 100%;
-webkit-background-size:100% 100%;
background-size:100% 100%;
background-repeat: no-repeat;
color: #3091B2;
}
.main-content {
	color : #3091B2;
	font-family: 'Exo 2', sans-serif;
}
a {
	color: #3091B2;
	font-family: 'Raleway', sans-serif;
    text-decoration: none;
}
a:hover {
color: #427C89;
text-decoration: none;
}

body {
  position: relative;
  font-family: 'Raleway', sans-serif;
}
 p {
 	font-family: 'Raleway', sans-serif;
    color : #3091B2;
 }
 h2,h3,h4,h5,h6
 {

 	font-family: 'Raleway', sans-serif;
 }
 .page-title {

 	font-family: 'Raleway', sans-serif;
 }
 .navbar-default .navbar-brand:hover {
    color: #427C89;
    text-decoration: none;
}

.navbar-default .navbar-nav>li>a:hover {
    color: #427C89; 
    text-decoration: none;

    }
    .btn-primary {
   display: inline-block;
    background-color: transparent;
    border: 1px solid #3091B2;
    border-radius: 1px;
    color: #3091B2;
    text-decoration: none;
    transition: all 150ms linear;
}

.btn-primary:hover {
 text-decoration: none;
    background-color: #3091B2;
    color: #FFFFFF;
    border-color: #3091B2;
    text-decoration: none;
    transition: all 150ms linear;
}
.pager li>a, .pager li>span {
    display: inline-block;
    background-color: transparent;
    border: 1px solid #3091B2;
    border-radius: 1px;
    color: #3091B2;
    text-decoration: none;
    transition: all 150ms linear;
}
 .pager li>a:hover {
    text-decoration: none;
    background-color: #3091B2;
    color: #FFFFFF;
    border-color: #3091B2;
    text-decoration: none;
    }
    .site-footer {
    	color : #3091B2;
	font-family: 'Exo 2', sans-serif;
    text-decoration: none;
    }
    code {
    padding: 0px;
}
input[type=submit] {
display: inline-block;
    background-color: transparent;
    border: 1px solid #3091B2;
    border-radius: 1px;
    color: #3091B2;
    text-decoration: none;
    transition: all 150ms linear;

}
.wpcf7-form-control .wpcf7-submit{
    background-color: #FF8F5E;
    color: #B33C12;
    -webkit-transition: all 150ms linear;
    -moz-transition: all 150ms linear;
    -o-transition: all 150ms linear;
    -ms-transition: all 150ms linear;
    transition: all 150ms linear;
}
*:before, *:after {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
}
.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #427C89;
    background-color: transparent;
}
body {
      position: relative;
  }
  .navbar-collapse
  {
    padding: 0px;
  }

  }
  #section1 {padding-top:100px;}
  #section2 {padding-top:100px;}
  #section3 {padding-top:100px;}
  #section41 {padding-top:100px;}
  #section42 {padding-top:100px;}
  </style>

  h1.page-title {
    padding: 0px;
    margin: 0px;
  }
#masthead {
    padding-top: 100px;
  }


.col-md-8 {
    width: 100%;
}


.navbar-default .navbar-nav>.active>a, .navbar-default .navbar-nav>.active>a:focus, .navbar-default .navbar-nav>.active>a:hover {
    color: #555;
    background-color: #e7e7e7;
}
.navbar {
  padding : 0px;
  margin: 0px;
  border-radius: 0px;
}
.container-fluid {
  padding: 0px;
  margin :0px;
  border-radius: 0px;
}
.container-fluid .jumbotron {
    border-radius: 0px;
    background-image: url("https://media.giphy.com/media/ygAaR0n5RsyAM/giphy.gif");
 background-color: #cccccc;
 moz-background-size:100% 100%;
-webkit-background-size:100% 100%;
background-size:100% 100%;
background-repeat: no-repeat;
color: #3091B2;
padding: 100px;
}
.site-header {
  padding: 0px;
  background-color: black;
}
#masthead {
    padding-top: 65px;
}
.navbar-inverse .navbar-collapse, .navbar-inverse .navbar-form {
    border-color: #101010;
    background-color: #333;
}
.navbar-inverse .navbar-nav>li>a {
    color: #3091B2
}
.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
    color: #427C89;
    background-color: transparent;
}
.site-navigation-inner {
  background-color: #333;
}
span.wpcf7-not-valid-tip {
    color: #B33C12;
    font-size: 1em;
    display: block;
}
div.wpcf7-validation-errors {
background-color: #FF8F5E;
    color: #B33C12;
    border: 0px;
}
div.wpcf7-mail-sent-ok {
  border: 0px;
      background-color: #8EF3C5;
    color: #42A084;
}
.container-fluid {
    background-color: black;
  background-color: #FFFCF5;
  font-family: 'Raleway', sans-serif;
}
.navbar-inverse .navbar-nav>.active>a, .navbar-inverse .navbar-nav>.active>a:focus, .navbar-inverse .navbar-nav>.active>a:hover {
      color: #427C89;
    background-color: #333;
}


h2 {
  padding-top: 85px;
}

.page-title {
  font-size: 0px;
}